<div class='c-widget'>
<h3 class='c-widget__title'>{{t 'Adv.' }}</h3>
<script type="text/javascript" language="javascript">
function randomads() {
var ads = new Array();
ads[0] = "<img src='https://revmanager.pt/assets/images/adv1.jpg' alt='Advertise here revmanager'>";
ads[1] = "<img src='https://revmanager.pt/assets/images/adv2.jpg' alt='Advertise here revmanager'>";
ads[2] = "<img src='https://revmanager.pt/assets/images/adv3.jpg' alt='Advertise here revmanager'>";
ads[3] = "<img src='https://revmanager.pt/assets/images/adv4.jpg' alt='Advertise here revmanager'>";
var adlinks = new Array();
adlinks[0] = "https://revmanager.eu/contacts/";
adlinks[1] = "https://revmanager.eu/about-project/";
adlinks[2] = "https://revmanager.eu/audience/";
adlinks[3] = "https://revmanager.eu/team/";
num=Math.floor(Math.random()*ads.length);
document.write("<a href=" + adlinks[num] + " target=_blank>"
+ ads[num] + "</a>");
}
randomads();
</script>
</div>
