<div class='c-widget'>
  <h3 class='c-widget__title'>{{t 'Adv.' }}</h3>

  <a href='https://revmanager.eu/contacts/' target='_blank'>
    <img src='{{ asset 'images/adv3_revmanager.gif' }}' alt='Advertise here revmanager'>
  </a>
</div>
