<div class='c-sidebar'>

  {{> sidebar/widget-author}}

  {{> sidebar/widget-advertise}}

  {{> sidebar/widget-tags}}

  {{> sidebar/widget-posts}}

  {{> sidebar/widget-advertise1}}

  {{> sidebar/widget-instagram}}

  {{> sidebar/widget-advertise2}}

  {{> sidebar/widget-advertise3}}

</div>
